.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name{
  font-family: 'Martel', serif;
}
.login{
  font-family: 'Dosis', sans-serif;

}
.follower-container{

  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
  margin: auto;
  width: 50%;
  border: 2px solid black;
}
.follower-card{
  padding: 20px;
}
.follower-img{
  max-width: 150px;
  max-height: 150px;
}
.main-card{

  border: 2px solid black;
  text-align: center;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;

}
.main-avatar{
  margin: auto;
  width: 50%;
  max-width: 300px;
  max-height: 300px;
}
.follower{
  padding: 10px;
}
