.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.follower-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
  margin: auto;
  width: 50%;
  border: 2px black;
}
.follower-card{
  padding: 20px;
}
.follower-img{
  max-width: 150px;
  max-height: 150px;
}
.main-card{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;

}
.main-avatar{
  max-width: 300px;
  max-height: 300px;
}
.follower{
  padding: 10px;
}
